# Padrao
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
# MQL5
experts.dat
Experts/Advisors/
Experts/Examples/
Experts/*.ex5
Images/
Profiles/
Scripts/
Logs/
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/Expert/
Include/Files/
Include/Generic/
Include/Graphics/
Include/Indicators/
Include/Math/
Include/OpenCL/
Include/Strings/
Include/Tools/
Include/Trade/
Include/WinAPI/
Include/CBookBarsPanel.mqh
Include/MovingAverages.mqh
Include/Object.mqh
Include/StdLibErr.mqh
Include/VirtualKeys.mqh
Include/_*.mqh
Include/_*.mq5
Indicators/*.ex5
Indicators/Examples/
Indicators/autotrendlines.mq5
Indicators/b-clock.mq5
Indicators/bb.mq5
Indicators/BookEventProcessor1.mq5
Indicators/BookEventProcessor2.mq5
Indicators/candletime.mq5
Indicators/candlestick_patterns.mq5
Indicators/candlestick_type_color.mq5
Indicators/chartobjects.mq5
Indicators/custom_moving_average.mq5
Indicators/fibos.mq5
Indicators/geo_innerbar.mq5
Indicators/madelta_inc.mq5
Indicators/nrtr_atr_stop.mq5
Indicators/pivot.mq5
Indicators/silvertrend_htf_signal.mq5
Indicators/silvertrend_signal.mq5
Indicators/support_and_resistance.mq5
Indicators/trendlinealert.mq5
Indicators/trendlinescrossing.mq5
Indicators/x-bars_fractals.mq5