# Padrao
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
# MQL5
Experts/Advisors/
Experts/Examples/
Experts/*.ex5
Images/
Profiles/
Scripts/
Logs/
Include/Arrays/
Include/Canvas/
Include/ChartObjects/
Include/Charts/
Include/Controls/
Include/Expert/
Include/Files/
Include/Generic/
Include/Graphics/
Include/Indicators/
Include/Math/
Include/OpenCL/
Include/Strings/
Include/Tools/
Include/Trade/
Include/WinAPI/
Include/Object.mqh
Include/StdLibErr.mqh
Include/VirtualKeys.mqh
Indicators/Examples/
Indicators/*.ex5
